<section>
        <div class="container mt-5">

            <div class="row ">
                {{#each products}}

                <div class="col-md-3 p-6 mb-4">
                    <div class="card" style="width: 15rem;height:25rem">
                        <img class="card-img-top"
                            src="/product-images/{{this.product._id}}.jpg"
                            alt="Card image cap"
                           style="height: 15rem;width:14.9rem">
                        <div class="card-body">
                            <h5 class="card-title">{{this.product.name}}</h5>
                            <p class="card-text">Rs.{{this.product.price}}</p>
                            <p class="card-text">Quantity:{{this.quantity}}</p>
                           
                           
                           
                        </div>
                    </div>
                </div>
                {{/each}}
                
            </div>
        </div>
    </section>